gdrive.json
{
  "name": "gdrive",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "51f5f31b-15e4-40e8-9fa7-9a0d32c0da26",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "15zOa7hKb21LIVz2rDMPeb1ZepV97l_NR",
            "mode": "list",
            "cachedResultName": "project progress 4",
            "cachedResultUrl": "https://drive.google.com/drive/folders/15zOa7hKb21LIVz2rDMPeb1ZepV97l_NR"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "f57007a6-04a8-4263-9ffd-393ad225cfce",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EOeFHTV8xDIh0Avm",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "87f1775a-a050-48aa-842a-48c008fb1afb",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EOeFHTV8xDIh0Avm",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-pro4",
          "mode": "list",
          "cachedResultName": "n8n-pro4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "1ceaa327-626d-4d40-b3f9-394da9f12315",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zubZYDndzFnx6IzG",
          "name": "PineconeApi account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        208
      ],
      "id": "5300baa8-b1c3-4885-9f1f-2bd2f357ab6a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EzCEZa8tWMtJwbRp",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "21992bb0-68a4-4c35-a616-ce68914b59a2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        864,
        400
      ],
      "id": "307aa04d-f7a1-4ee9-b56e-b6b12a03657a",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03469e28-492e-44a7-93cc-a2c0f4643cf5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40cc442940abcbd297ef5237e1d4ef53b810dd50adb206e722453fbe3b5389bf"
  },
  "id": "ucxAtHirBI4uWU18",
  "tags": []
}